.elementor-500
  .elementor-element.elementor-element-1b8f7a89:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-500
  .elementor-element.elementor-element-1b8f7a89
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-500
  .elementor-element.elementor-element-1b8f7a89
  > .elementor-background-overlay {
  background-image: url("../../2024/03/header-pattern.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  opacity: 0.15;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500 .elementor-element.elementor-element-1b8f7a89 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 9% 0% 3% 0%;
}
.elementor-bc-flex-widget
  .elementor-500
  .elementor-element.elementor-element-4e0e0a9e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-4e0e0a9e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-4e0e0a9e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-bc-flex-widget
  .elementor-500
  .elementor-element.elementor-element-2617acf.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-2617acf.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-2617acf
  > .elementor-element-populated {
  margin: 0px 0px 0px 50px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 50px;
  padding: 30px 0px 30px 0px;
}
.elementor-500 .elementor-element.elementor-element-2617acf {
  z-index: 5;
}
.elementor-500 .elementor-element.elementor-element-e624167 {
  text-align: left;
}
.elementor-500
  .elementor-element.elementor-element-e624167
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
}
.elementor-500
  .elementor-element.elementor-element-5e5315e6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-500
  .elementor-element.elementor-element-5e5315e6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
    /* al-rayyan-background-color */
  background-color: #fff;
}
.elementor-500 .elementor-element.elementor-element-5e5315e6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 0% 1.5% 0%;
}
.elementor-500
  .elementor-element.elementor-element-5e5315e6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-7830ebfd
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500 .elementor-element.elementor-element-1b842876 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3% 0% 3% 0%;
}
.elementor-500
  .elementor-element.elementor-element-1b842876
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-602eff2b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-500
  .elementor-element.elementor-element-602eff2b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../images/about-us/arab.jpeg");
  background-position: top;
  border-radius: 12px;
  margin: 0 12px;
  background-size: cover;
}
.elementor-500
  .elementor-element.elementor-element-602eff2b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-500
  .elementor-element.elementor-element-602eff2b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500 .elementor-element.elementor-element-7a09eb1b {
  --spacer-size: 50px;
}
.elementor-bc-flex-widget
  .elementor-500
  .elementor-element.elementor-element-2d4bad9d.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-2d4bad9d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-2d4bad9d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-500
  .elementor-element.elementor-element-58fd53b7
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Poppins", Sans-serif;
  font-size: 39px;
  font-weight: 500;
  line-height: 1.5em;
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(20px / 2);
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(20px / 2);
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(20px / 2);
  margin-left: calc(20px / 2);
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-20px / 2);
  margin-left: calc(-20px / 2);
}
body.rtl
  .elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-20px / 2);
}
body:not(.rtl)
  .elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-20px / 2);
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}
.elementor-500 .elementor-element.elementor-element-b307b70 {
  --e-icon-list-icon-size: 15px;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 4px;
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-icon {
  padding-right: 8px;
}
.elementor-500
  .elementor-element.elementor-element-b307b70
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-3930492:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-500
  .elementor-element.elementor-element-3930492
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-500
  .elementor-element.elementor-element-3930492
  > .elementor-background-overlay {
  background-image: url("../../../../images/common/contact-us-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500 .elementor-element.elementor-element-3930492 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}
.elementor-500
  .elementor-element.elementor-element-483b069
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 70px 0px 70px 60px;
}
.elementor-500
  .elementor-element.elementor-element-483b069
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500 .elementor-element.elementor-element-dd63ea8 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-secondary);
  --divider-border-width: 2.3px;
}
.elementor-500
  .elementor-element.elementor-element-dd63ea8
  .elementor-divider-separator {
  width: 49%;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-500 .elementor-element.elementor-element-dd63ea8 .elementor-divider {
  text-align: left;
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-500
  .elementor-element.elementor-element-dd63ea8
  .elementor-divider__text {
  color: #ffffff;
  font-family: var(--e-global-typography-5d3d2eb-font-family), Sans-serif;
  font-size: var(--e-global-typography-5d3d2eb-font-size);
  font-weight: var(--e-global-typography-5d3d2eb-font-weight);
  text-transform: var(--e-global-typography-5d3d2eb-text-transform);
  line-height: var(--e-global-typography-5d3d2eb-line-height);
  letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
  word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
}
.elementor-500
  .elementor-element.elementor-element-dd63ea8
  > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-500 .elementor-element.elementor-element-01f2fa7 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-item
  > a {
  font-family: "Poppins", Sans-serif;
  font-size: 41px;
  font-weight: 500;
  line-height: 1.7em;
}
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-01f2fa7
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
}
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-500 .elementor-element.elementor-element-e2cfcf6 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-item
  > a {
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7em;
}
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-e2cfcf6
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
}
.elementor-500
  .elementor-element.elementor-element-a4f16b0
  > .elementor-element-populated {
  padding: 70px 0px 70px 60px;
}
.elementor-500 .elementor-element.elementor-element-885f2a8 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-secondary);
  --divider-border-width: 2px;
}
.elementor-500
  .elementor-element.elementor-element-885f2a8
  .elementor-divider-separator {
  width: 37%;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-500 .elementor-element.elementor-element-885f2a8 .elementor-divider {
  text-align: left;
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-500
  .elementor-element.elementor-element-885f2a8
  .elementor-divider__text {
  color: #ffffff;
  font-family: var(--e-global-typography-5d3d2eb-font-family), Sans-serif;
  font-size: var(--e-global-typography-5d3d2eb-font-size);
  font-weight: var(--e-global-typography-5d3d2eb-font-weight);
  text-transform: var(--e-global-typography-5d3d2eb-text-transform);
  line-height: var(--e-global-typography-5d3d2eb-line-height);
  letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
  word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
}
.elementor-500
  .elementor-element.elementor-element-885f2a8
  > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
}
.elementor-500
  .elementor-element.elementor-element-4b608ea
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.5em;
}
.elementor-500 .elementor-element.elementor-element-0541c50 {
  text-align: left;
}
.elementor-500
  .elementor-element.elementor-element-0541c50
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-transform: var(--e-global-typography-accent-text-transform);
  letter-spacing: var(--e-global-typography-accent-letter-spacing);
}
.elementor-500
  .elementor-element.elementor-element-0541c50
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-500 .elementor-element.elementor-element-8632bcd .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(
    280deg,
    var(--e-global-color-primary) 0%,
    var(--e-global-color-secondary) 100%
  );
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-secondary);
  border-radius: 0px 0px 0px 0px;
  padding: 20px 19px 20px 22px;
}
.elementor-500
  .elementor-element.elementor-element-8632bcd
  .elementor-button:hover,
.elementor-500
  .elementor-element.elementor-element-8632bcd
  .elementor-button:focus {
  color: var(--e-global-color-text);
  border-color: var(--e-global-color-secondary);
}
.elementor-500
  .elementor-element.elementor-element-8632bcd
  .elementor-button:hover
  svg,
.elementor-500
  .elementor-element.elementor-element-8632bcd
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-text);
}
.elementor-500
  .elementor-element.elementor-element-13a2e364
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-500
  .elementor-element.elementor-element-13a2e364:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-500
  .elementor-element.elementor-element-13a2e364
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-500
  .elementor-element.elementor-element-13a2e364
  > .elementor-background-overlay {
  background-image: url("../../2024/03/ftr-bg.png");
  background-position: bottom center;
  background-size: cover;
  opacity: 0.15;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-500 .elementor-element.elementor-element-13a2e364 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}
.elementor-500
  .elementor-element.elementor-element-1cab7f63
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-500 .elementor-element.elementor-element-12cc12fd {
  margin-top: 0px;
  margin-bottom: 70px;
}
.elementor-500
  .elementor-element.elementor-element-358be42d
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500
  .elementor-element.elementor-element-6566fe6c
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
}
.elementor-500
  .elementor-element.elementor-element-6566fe6c
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item {
  padding-left: 0px;
  padding-right: 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 20px);
  padding-right: 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 40px);
  padding-right: 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 60px);
  padding-right: 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(0px + 80px);
  padding-right: 0px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 7px;
  padding-bottom: 7px;
}
.elementor-500 .elementor-element.elementor-element-8c44e5b a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  a.hfe-sub-menu-item {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .sub-menu
  a.hfe-sub-menu-item {
  color: var(--e-global-color-text);
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item:hover,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-text);
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: var(--e-global-color-text);
}
.elementor-500 .elementor-element.elementor-element-8c44e5b .sub-menu,
.elementor-500 .elementor-element.elementor-element-8c44e5b nav.hfe-dropdown,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown-expandible,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-500
  .elementor-element.elementor-element-8c44e5b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-500
  .elementor-element.elementor-element-3bfe9b6f
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500
  .elementor-element.elementor-element-691953cd
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
}
.elementor-500
  .elementor-element.elementor-element-691953cd
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(17px / 2);
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(17px / 2);
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(17px / 2);
  margin-left: calc(17px / 2);
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-17px / 2);
  margin-left: calc(-17px / 2);
}
body.rtl
  .elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-17px / 2);
}
body:not(.rtl)
  .elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-17px / 2);
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-text);
  transition: fill 0.3s;
}
.elementor-500 .elementor-element.elementor-element-2b1db1aa {
  --e-icon-list-icon-size: 18px;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 7px;
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-item
  > a {
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7em;
}
.elementor-500
  .elementor-element.elementor-element-2b1db1aa
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}
.elementor-500
  .elementor-element.elementor-element-4f8f9702.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-500
  .elementor-element.elementor-element-4f8f9702
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500 .elementor-element.elementor-element-221d2553 img {
  width: 44%;
}
.elementor-500 .elementor-element.elementor-element-18301272 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #ffffff2e;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}
.elementor-500
  .elementor-element.elementor-element-18301272
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-500
  .elementor-element.elementor-element-3a9b960a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-3a9b960a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-3a9b960a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500 .elementor-element.elementor-element-6d571120 {
  text-align: left;
}
.elementor-500
  .elementor-element.elementor-element-6d571120
  .elementor-heading-title {
  color: #ffffff;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-500
  .elementor-element.elementor-element-6d571120
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-500
  .elementor-element.elementor-element-6f30ab9b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-6f30ab9b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-500
  .elementor-element.elementor-element-6f30ab9b
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-500 .elementor-element.elementor-element-19b1fa10 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 25px;
  --grid-column-gap: 21px;
  --grid-row-gap: 0px;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-widget-container {
  text-align: right;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon {
  background-color: #ffffff00;
  --icon-padding: 0em;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon
  i {
  color: #ffffff;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon
  svg {
  fill: #ffffff;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon:hover {
  background-color: #ffffff00;
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-secondary);
}
.elementor-500
  .elementor-element.elementor-element-19b1fa10
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-secondary);
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-500 .elementor-element.elementor-element-602eff2b {
    width: 39.242%;
  }
  .elementor-500 .elementor-element.elementor-element-2d4bad9d {
    width: 60.758%;
  }
  .elementor-500 .elementor-element.elementor-element-358be42d {
    width: 19.674%;
  }
  .elementor-500 .elementor-element.elementor-element-3bfe9b6f {
    width: 46.658%;
  }
}
@media (max-width: 1024px) {
  .elementor-500 .elementor-element.elementor-element-1b8f7a89 {
    padding: 70px 30px 70px 30px;
  }
  .elementor-500
    .elementor-element.elementor-element-4e0e0a9e
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 30px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-2617acf
    > .elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-e624167
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-500 .elementor-element.elementor-element-5e5315e6 {
    padding: 70px 30px 70px 30px;
  }
  .elementor-500
    .elementor-element.elementor-element-7830ebfd
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500 .elementor-element.elementor-element-1b842876 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-bc-flex-widget
    .elementor-500
    .elementor-element.elementor-element-602eff2b.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-500
    .elementor-element.elementor-element-602eff2b.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-500
    .elementor-element.elementor-element-58fd53b7
    .elementor-heading-title {
    font-size: 44px;
  }
  .elementor-500 .elementor-element.elementor-element-3930492 {
    padding: 0px 30px 0px 30px;
  }
  .elementor-500
    .elementor-element.elementor-element-483b069
    > .elementor-element-populated {
    padding: 50px 50px 50px 50px;
  }
  .elementor-500
    .elementor-element.elementor-element-dd63ea8
    .elementor-divider-separator {
    width: 60%;
    margin: 0 auto;
    margin-left: 0;
  }
  .elementor-500
    .elementor-element.elementor-element-dd63ea8
    .elementor-divider {
    text-align: left;
  }
  .elementor-500
    .elementor-element.elementor-element-dd63ea8
    .elementor-divider__text {
    font-size: var(--e-global-typography-5d3d2eb-font-size);
    line-height: var(--e-global-typography-5d3d2eb-line-height);
    letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
    word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
  }
  .elementor-500
    .elementor-element.elementor-element-01f2fa7
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-01f2fa7
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-e2cfcf6
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-e2cfcf6
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-a4f16b0
    > .elementor-element-populated {
    padding: 50px 50px 50px 50px;
  }
  .elementor-500
    .elementor-element.elementor-element-885f2a8
    .elementor-divider-separator {
    width: 60%;
    margin: 0 auto;
    margin-left: 0;
  }
  .elementor-500
    .elementor-element.elementor-element-885f2a8
    .elementor-divider {
    text-align: left;
  }
  .elementor-500
    .elementor-element.elementor-element-885f2a8
    .elementor-divider__text {
    font-size: var(--e-global-typography-5d3d2eb-font-size);
    line-height: var(--e-global-typography-5d3d2eb-line-height);
    letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
    word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
  }
  .elementor-500
    .elementor-element.elementor-element-4b608ea
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-500
    .elementor-element.elementor-element-0541c50
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-500 .elementor-element.elementor-element-13a2e364 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 30px 0px 30px;
  }
  .elementor-500
    .elementor-element.elementor-element-1cab7f63
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-6566fe6c
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-500 .elementor-element.elementor-element-8c44e5b a.hfe-menu-item,
  .elementor-500
    .elementor-element.elementor-element-8c44e5b
    a.hfe-sub-menu-item {
    font-size: 44px;
  }
  .elementor-500
    .elementor-element.elementor-element-691953cd
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-500
    .elementor-element.elementor-element-2b1db1aa
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-2b1db1aa
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-4f8f9702
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500 .elementor-element.elementor-element-18301272 {
    padding: 17px 0px 17px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-3a9b960a
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-6d571120
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-500
    .elementor-element.elementor-element-6f30ab9b
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-19b1fa10
    .elementor-widget-container {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .elementor-500 .elementor-element.elementor-element-1b8f7a89 {
    padding: 120px 20px 50px 20px;
  }
  .elementor-500
    .elementor-element.elementor-element-4e0e0a9e
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-2617acf
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 50px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-e624167
    .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-500 .elementor-element.elementor-element-5e5315e6 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-500 .elementor-element.elementor-element-1b842876 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-500 .elementor-element.elementor-element-7a09eb1b {
    --spacer-size: 240px;
  }
  .elementor-500
    .elementor-element.elementor-element-2d4bad9d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 50px 0px 50px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-58fd53b7
    .elementor-heading-title {
    font-size: 38px;
    line-height: 1.3em;
  }
  .elementor-500 .elementor-element.elementor-element-3930492 {
    padding: 0px 20px 0px 20px;
  }
  .elementor-500
    .elementor-element.elementor-element-483b069
    > .elementor-element-populated {
    padding: 40px 40px 40px 40px;
  }
  .elementor-500
    .elementor-element.elementor-element-dd63ea8
    .elementor-divider-separator {
    width: 78%;
  }
  .elementor-500
    .elementor-element.elementor-element-dd63ea8
    .elementor-divider__text {
    font-size: var(--e-global-typography-5d3d2eb-font-size);
    line-height: var(--e-global-typography-5d3d2eb-line-height);
    letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
    word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
  }
  .elementor-500
    .elementor-element.elementor-element-01f2fa7
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-01f2fa7
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-e2cfcf6
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-e2cfcf6
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-a4f16b0
    > .elementor-element-populated {
    padding: 40px 40px 40px 40px;
  }
  .elementor-500
    .elementor-element.elementor-element-885f2a8
    .elementor-divider-separator {
    width: 78%;
  }
  .elementor-500
    .elementor-element.elementor-element-885f2a8
    .elementor-divider__text {
    font-size: var(--e-global-typography-5d3d2eb-font-size);
    line-height: var(--e-global-typography-5d3d2eb-line-height);
    letter-spacing: var(--e-global-typography-5d3d2eb-letter-spacing);
    word-spacing: var(--e-global-typography-5d3d2eb-word-spacing);
  }
  .elementor-500
    .elementor-element.elementor-element-4b608ea
    .elementor-heading-title {
    font-size: 26px;
    line-height: 1.3em;
  }
  .elementor-500
    .elementor-element.elementor-element-0541c50
    .elementor-heading-title {
    font-size: var(--e-global-typography-accent-font-size);
    letter-spacing: var(--e-global-typography-accent-letter-spacing);
  }
  .elementor-500 .elementor-element.elementor-element-13a2e364 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 70px 20px 0px 20px;
  }
  .elementor-500
    .elementor-element.elementor-element-1cab7f63
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-358be42d
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-6566fe6c
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-500
    .elementor-element.elementor-element-6566fe6c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-500 .elementor-element.elementor-element-8c44e5b a.hfe-menu-item,
  .elementor-500
    .elementor-element.elementor-element-8c44e5b
    a.hfe-sub-menu-item {
    font-size: 38px;
    line-height: 1.3em;
  }
  .elementor-500
    .elementor-element.elementor-element-3bfe9b6f
    > .elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-691953cd
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-500
    .elementor-element.elementor-element-691953cd
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-2b1db1aa
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-500
    .elementor-element.elementor-element-2b1db1aa
    .elementor-icon-list-item
    > a {
    font-size: 14px;
  }
  .elementor-500
    .elementor-element.elementor-element-4f8f9702
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500 .elementor-element.elementor-element-18301272 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-3a9b960a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500 .elementor-element.elementor-element-6d571120 {
    text-align: center;
  }
  .elementor-500
    .elementor-element.elementor-element-6d571120
    .elementor-heading-title {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-500
    .elementor-element.elementor-element-6f30ab9b
    > .elementor-element-populated {
    margin: 5px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-500
    .elementor-element.elementor-element-19b1fa10
    .elementor-widget-container {
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-500 .elementor-element.elementor-element-4e0e0a9e {
    width: 100%;
  }
  .elementor-500 .elementor-element.elementor-element-2617acf {
    width: 100%;
  }
  .elementor-500 .elementor-element.elementor-element-1cab7f63 {
    width: 100%;
  }
  .elementor-500 .elementor-element.elementor-element-358be42d {
    width: 40%;
  }
  .elementor-500 .elementor-element.elementor-element-3bfe9b6f {
    width: 30%;
  }
  .elementor-500 .elementor-element.elementor-element-4f8f9702 {
    width: 30%;
  }
}
@media (min-width: 1025px) {
  .elementor-500
    .elementor-element.elementor-element-1b8f7a89
    > .elementor-background-overlay {
    background-attachment: fixed;
  }
}
